@{
                /**/
                var blogCategory = ViewBag.blogCategory as BlogCategory ?? new BlogCategory();
                ViewBag.Title = blogCategory.MetaTitle ?? blogCategory.Name;
                ViewBag.MetaKeywords = blogCategory.MetaKeywords;
                ViewBag.MetaDescription = blogCategory.MetaDescription ?? blogCategory.Description;
}
@using global::Web.Helpers
@using Web.Model.Models
@using PagedList.Mvc
@model PagedList.IPagedList<BlogPostCategoryMapping>
    @section styles{
        @Styles.Render("~/bundles/content/default/blog/blog-list/css", "~/bundles/content/default/blog/blog-category/css","~/bundles/content/default/pagelist/css")
    }
    <!-- start: page-wrap -->
    <div id="main">
        @section banners{
            @{
                                /**/

                                var picture = DataWhereHelper.PictureBySlug("banner->" + Request.Path, blogCategory.Avatar, blogCategory.Name);
                                var paramArrs = new List<KeyValuePair<string, string>>()
                            {
                                new KeyValuePair<string, string>("banner-title", picture.Title),
                                new KeyValuePair<string, string>("banner-size", "cover"),
                                new KeyValuePair<string, string>("banner-img", picture.Url ),
                            };
            }
            @Html.Action("CallerWithParams", "StaticBlock", new { identifier = "page::banner-top-default", paramArrs, area = "" })
        }
        <div class="section section-bg-by-define pt-11 pb-17">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="page-title text-center">@blogCategory.Name</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="section border-bottom pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        @Html.Action("Breadcrumb", "Widgets", new { breadcrumbs = new List<BreadcrumbModel> { new BreadcrumbModel { Link = SlugHelper.BlogCategory(Convert.ToInt32(blogCategory.ParentBlogCategoryId)), Title = blogCategory.ParentBlogCategory.Name }, new BreadcrumbModel { Link = "#", Title = blogCategory.Name } }, homeIncluded = true, headingIncluded = false, area = "" })
                    </div>
                </div>
            </div>
        </div>
        <div class="section pb-7">
            <div class="container mb-10">
                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        <div class="blog-list">
                            @if (Model.Count < 1)
                            {
                                <div style="padding: 32px 0px;">
                                    <b>@LanguageHelper.Translate("This category currently does not have corresponding information_Text")!</b>
                                </div>
                            }
                            else
                            {
                                foreach (BlogPostCategoryMapping item in Model)
                                {
                                    <div class="row blog-list-item">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="post-thumbnail">
                                                <a href="@SlugHelper.BlogPost(item.BlogPostId)">
                                                    <img src="@ImageHelper.GetResize(item.BlogPost.Avatar, 370, 250)" alt="@item.BlogPost.Title" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="post-content">
                                                <div class="entry-meta">
                                                    <span class="posted-on">
                                                        <i class="ion-calendar"></i>
                                                        <span class="date"> <time class="time-ago" datetime="@item.BlogPost.PublishedTime"></time> </span>
                                                    </span>
                                                    <span class="comment">
                                                        <i class="ion-chatbubble-working"></i> @item.BlogPost.CommentCount
                                                    </span>
                                                </div>
                                                <a href="@SlugHelper.BlogPost(item.BlogPostId)" title="@item.BlogPost.Title">
                                                    <h1 class="entry-title">@item.BlogPost.Title</h1>
                                                </a>
                                                <div class="entry-content">
                                                    @item.BlogPost.Excerpt
                                                </div>
                                                <div class="entry-more">
                                                    <a href="@SlugHelper.BlogPost(item.BlogPostId)"> <i class="fa fa-angle-double-left" aria-hidden="true"></i> @LanguageHelper.Translate("Read_more_Text") <i class='fa fa-angle-double-right'></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="pagination-wrap">
                            @Html.PagedListPager(Model, page => Url.Action("Page", "Home", new { ViewBag.sortOrder, page }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "<i class='fa fa-angle-left'></i>  Prev", LinkToNextPageFormat = "Next <i class='fa fa-angle-right'></i>", LinkToLastPageFormat = "Last >>" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="sidebar">
                            <div class="widget widget-product-search">
                                @Html.Action("Box", "Search", new { area = "", viewPath = "search/boxblog", scope = "trends-blogcategory-blogpost" })
                            </div>
                            <div class="widget widget-product-categories">
                                <h3 class="widget-title">@LanguageHelper.Translate("Categories_Text")</h3>
                                @{ Html.RenderAction("CategoriesSpecial", "Blog", new { groupOf = "news,", pathView = "Widgets/BlogCategory/Archives", area = "" }); }
                            </div>
                            <div class="widget widget_posts_widget">
                                <h3 class="widget-title">@LanguageHelper.Translate("Popular Posts_Text")</h3>
                                @{ Html.RenderAction("PopularPosts", "Blog", new { blogCategoryId = blogCategory.Id, take = 3, pathView = "Widgets/BlogCategory/PopularPosts", area = "" }); }
                            </div>
                            <div class="widget widget-tags">
                                <h3 class="widget-title">@LanguageHelper.Translate("Search by Tags_Text")</h3>
                                <div class="tagcloud">
                                    @{ Html.RenderAction("PopularTags", "Blog", new { blogCategoryId = blogCategory.Id, pathView = "Widgets/BlogCategory/PopularTags", area = "" }); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: page-wrap -->

    @section scripts {
        @Scripts.Render("~/bundles/content/default/blog/blog-category/js")
        <script>
        $(".time-ago").timeago();
        var currentLink = $($(".main-menu a[href='@SlugHelper.BlogCategory(grouped: "news")']"));
        if (currentLink != null) {
            currentLink.parent().addClass("active");
            currentLink.parent().parent().addClass("active");
            currentLink.parent().parent().parent().addClass("active");
        }
        jQuery(document).ready(function() {
            Blog.init();
        });
        </script>
    }
