@{
    var segment = Request.QueryString["segment"] ?? "default";
}
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web.Optimization
@using global::Web.Helpers
@model Web.Core.Models.LoginModel

    <div class="container-fluid authfy-login-wrapper" style="opacity: 0">
        <div class="row">
            <div class="authfy-container col-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
                <div class="col-sm-5 authfy-panel-left">
                    <div class="brand-col">
                        <div class="headline">
                            <!-- brand-logo start -->
                            <div class="brand-logo">
                                <a href="/@DataCurrentHelper.UniqueSeoCode" title="Trở về trang chủ">
                                    <img src="@DisplayHelper.Logo" width="150" alt="brand-logo">
                                </a>

                            </div><!-- ./brand-logo -->
                            <p style="text-transform: uppercase;font-weight: 700;">Sign to easy</p>
                            <!-- social login buttons start -->
                            <div class="row social-buttons">
                                <div class="col-xs-4 col-sm-4 col-md-12">
                                    <a href="/authexternal/login/facebook?mode=1" class="btn btn-block btn-facebook">
                                        <i class="fa fa-facebook"></i> <span class="hidden-xs hidden-sm">Continue with facebook</span>
                                    </a>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-12">
                                    <a href="/authexternal/login/google?mode=1" class="btn btn-block btn-google">
                                        <i class="fa fa-google-plus"></i> <span class="hidden-xs hidden-sm">Continue with google+</span>
                                    </a>
                                </div>
                            </div><!-- ./social-buttons -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 authfy-panel-right">
                    <!-- authfy-login start -->
                    <div class="authfy-login">
                        <!-- panel-login start -->
                        <div class="authfy-panel panel-login text-xs-center @(segment != "forgot-pass"?"active":"")">
                            <div class="authfy-heading">
                                <h5 class="auth-title">Sign in with your Donavi account</h5>
                                <p>Need an account? <a title="Đăng ký miễn phí" href="@Url.Action("Register","Account")">→ Sign up alway free!</a></p>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12">
                                    @using (Html.BeginForm("LoginDirect", "Account", FormMethod.Post, new { @class = "loginForm" }))
                                    {
                                        @Html.ValidationSummary(true)
                                        @Html.AntiForgeryToken()


                                        <div class="form-group wrap-input">
                                            <input type="text" class="form-control email" name="username" value="@Model.UserName" autocomplete="on" placeholder="Tên đăng nhập | e-mail">
                                            <span class="focus-input"></span>
                                        </div>
                                        <div class="form-group wrap-input">
                                            <div class="pwdMask">
                                                <input type="password" class="form-control password" name="password" autocomplete="on" value="@Model.Password" placeholder="Mật khẩu">
                                                <span class="focus-input"></span>
                                                <span class="fa fa-eye-slash pwd-toggle"></span>
                                            </div>
                                        </div>
                                        <!-- start remember-row -->
                                        <div class="row remember-row">
                                            <div class="col-xs-6 col-sm-6">
                                                <label class="checkbox text-xs-left">
                                                    <input type="checkbox" value="@Model.RememberMe" id="RememberMe" name="remember-password">
                                                    <span class="label-text">Stay signed in?</span>
                                                </label>
                                            </div>
                                            <div class="col-xs-6 col-sm-6">
                                                <p class="forgotPwd">
                                                    <a class="lnk-toggler" data-panel=".panel-forgot" href="#">Forgot?</a>
                                                </p>
                                            </div>
                                        </div> <!-- ./remember-row -->
                                        <div class="form-group">
                                            <button class="btn btn-lg btn-primary btn-block" type="submit"><svg viewBox="0 0 24 24" width="15px" style="    margin-bottom: -2px;" height="15px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M12,1A16.53,16.53,0,0,1,3.88,4,1,1,0,0,0,3,5v8a8.5,8.5,0,0,0,4.37,7.43L12,23l4.63-2.57A8.5,8.5,0,0,0,21,13V5a1,1,0,0,0-.88-1A16.53,16.53,0,0,1,12,1ZM5,5.78a18.59,18.59,0,0,0,7-2.49,17.29,17.29,0,0,0,3.31,1.57L5.25,14.9A6.48,6.48,0,0,1,5,13.12V5.78Zm0.59,10L16.26,5.15A20.88,20.88,0,0,0,19,5.78V7.17L7.74,18.42A6.49,6.49,0,0,1,5.59,15.81Zm10.07,3-3.66,2L8.5,18.89,19,8.4v4.72A6.5,6.5,0,0,1,15.66,18.81Z" class="large-icon" style="fill: currentColor"></path></svg> SIGN IN  </button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div> <!-- ./panel-login -->
                        <!-- panel-forget start -->
                        <div class="authfy-panel panel-forgot @(segment == "forgot-pass"?"active":"")">
                            <div class="row">
                                <div class="col-12 col-sm-12">
                                    <div class="authfy-heading">
                                        <h3 class="auth-title">Khôi phục mật khẩu của bạn</h3>
                                        <p>Điền địa chỉ email của bạn dưới đây và chúng tôi sẽ gửi cho bạn một email hướng dẫn thêm.</p>
                                    </div>
                                    @using (Html.BeginForm("ForgotPass", "Account", FormMethod.Post, new { @class = "forgetForm" }))
                                    {
                                        @Html.ValidationSummary(true)
                                        <div class="form-group wrap-input">
                                            <input type="email" class="form-control" name="email" placeholder="Nhập e-mail">
                                            <span class="focus-input"></span>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-lg btn-primary btn-block" type="submit">Khôi phục mật khẩu</button>
                                        </div>
                                        <div class="form-group">
                                            <a class="lnk-toggler" data-panel=".panel-login" href="#">Bạn đã có tài khoản?</a>
                                        </div>
                                        <div class="form-group">
                                            <a title="Đăng ký tài khoản" href="@Url.Action("Register","Account")">Bạn chưa có tài khoản?</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div> <!-- ./panel-forgot -->
                    </div> <!-- ./authfy-login -->
                </div>
            </div>
        </div> <!-- ./row -->
    </div>