@model ASP.Web.Model.Models.Page
@section styles{
    @Styles.Render("~/bundles/content/default/home/css")
}
@{
    var stylesInlineInsert = DataWhereHelper.ExtractScriptsPage(Model.StylesInsert);
    if (stylesInlineInsert != "")
    {
        @Html.Raw(stylesInlineInsert);
    }
}
<section class="as-content">
    @Html.Raw(Model.Body)
</section>

@section scripts{
    @{
        var scriptsFileInsert = DataWhereHelper.ExtractScriptsPage(Model.Id);
        if (scriptsFileInsert != "")
        {
            @Html.Raw(scriptsFileInsert);
        }
    }
    @Scripts.Render("~/bundles/content/default/home/js")
    @{
        var scriptsInlineInsert = DataWhereHelper.ExtractScriptsPage(Model.ScriptsInsert);
        if (scriptsInlineInsert != "")
        {
            @Html.Raw(scriptsInlineInsert);
        }
    }
}

