@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web.Optimization
@using global::Web.Helpers
@model PassModel
@{
    ViewBag.Title = LanguageHelper.Translate("Recovery pass_Text");
    Layout = "~/Views/Default/Shared/_LayoutEmpty.cshtml";
    var segment = Request.QueryString["segment"] ?? "default";
}
@Styles.Render("~/bundles/content/default/account/base/css", "~/bundles/content/default/account/credits/css")

<div class="body">
    <div class="veen">
        <div class="change-pass-btn splits">
            <p>Already an code?</p>
            <button class="active">Update pass</button>
        </div>
        <div class="forget-pass-btn splits">
            <p>Don't have an remember pass?</p>
            <button>Forgot's pass</button>
        </div>
        <div class="wrapper">
            @using (Html.BeginForm("RecoveryPass", "Account", FormMethod.Post, new { @id = "change-pass", @tabindex = "500" }))
            {
                @Html.ValidationSummary(true)

                <h3>Recovery password</h3>
                <div class="mail">
                    @Html.PasswordFor(model => model.NewPassword, new { placeholder = "**************" })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                    <label>New Password</label>
                </div>
                <div class="passwd">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "*****************" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    <label>Confirm Password</label>
                </div>
                <div class="submit">
                    <button class="dark" type="submit">Update Now</button>
                </div>
            }

            @using (Html.BeginForm("ForgotPass", "Account", FormMethod.Post, new { @id = "forgot-pass", @tabindex = "502" }))
            {
                @Html.ValidationSummary(true)

                <h3>Forgot password</h3>

                <div class="mail">
                    @Html.TextBoxFor(model => model.Email, new { placeholder = "youremail@gmail.com" })
                    @Html.ValidationMessageFor(model => model.Email)
                    <label>Enter e-mail</label>
                </div>
                <div class="submit">
                    <button class="dark" type="submit">Sent mail</button>
                </div>

            }
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/content/default/account/credits/js")
    <script>
        $(document).ready(function () {

        });
    </script>
}