@using global::Web.Helpers
@using ASP.Web.Model.Models;
@model List<Category>
    @foreach (var category in Model)
    {
        foreach (var innerItem in category.ProductCategoryMappings)
        {
            var slugProduct = SlugHelper.Product(innerItem.Product.Id);
            <div>
                <div class="card card-product mx-auto">
                    <div class="card-product-img">
                        <a href="@slugProduct" class="card-img-top">
                            <img  src="@ImageHelper.GetResize(innerItem.Product.Picture.Url, 480, 480)" alt="@innerItem.Product.Name">
                        </a>
                        <div class="card-product-widgets-top">
                            @if (innerItem.Product.IsPromotion)
                            {
                                <span class="IsPromotion badge product-badge badge-danger">Sale</span>
                            }

                            @if (innerItem.Product.IsFocus)
                            {
                                <span class="IsFocus badge product-badge badge-primary">Hot</span>
                            }
                        <div class="star-rating ml-auto">
                            @{ Html.RenderPartial("~/Views/Default/Catalog/Widgets/Shop/Rating.cshtml", new ViewDataDictionary { { "Product", innerItem.Product } }); }
                        </div>
                        </div>
                        <div class="card-product-widgets-bottom">
                            <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left"
                               title="yêu thích"></a>
                        </div>
                    </div>
                    <div class="card-body pb-2 bg-0">
                        <p class="h3 card-product-title text-truncate mb-2">
                            <a href="@slugProduct" class="nav-link">@innerItem.Product.Name</a>
                        </p>
                        <div class="d-flex align-items-center">
                            @{ Html.RenderPartial("~/Views/Default/Catalog/Widgets/Shop/Price.cshtml", new ViewDataDictionary { { "Product", innerItem.Product } }); }
                        </div>
                    </div>
                </div>
            </div>
            


        }
    }

