@using global::Web.Helpers
@using Web.Model.Models
@model BlogPost
@{
    var blogCategory = DataWhereHelper.ExtractPrimaryBlogCategory(Model.BlogPostCategoryMappings);
    string blogCategoryIds = Model.BlogPostCategoryMappings.Aggregate("", (current, itemSame) => current + itemSame.BlogCategoryId + ",");
    List<BlogPostCategoryMapping> listBlogPostSame = DataWhereHelper.PostByCategoryIds(blogCategoryIds, Model.Id, take: 2);

    List<BlogPost> listBlogPostRelated = DataWhereHelper.PostByIds(Model.RelatedBlogPosts, Model.Id, 6).ToList();
}
@section styles{
    @Styles.Render("~/bundles/content/default/blog/blog-post/css")
}
@section banners{
    @{
        var picture = DataWhereHelper.PictureBySlug("banner->/en/post", Model.Avatar, Model.Title);
        var paramArrs = new List<KeyValuePair<string, string>>()
{
                new KeyValuePair<string, string>("banner-title", picture.Title),
                new KeyValuePair<string, string>("banner-size","cover"),
                new KeyValuePair<string, string>("banner-img", picture.Url ),
            };
    }
    @Html.Action("CallerWithParams", "StaticBlock", new { identifier = "page::banner-top-default", paramArrs, area = "" })
}
<!-- Promo bar -->
<section class="cs-promo-bar bg-primary py-2">
    <div class="container d-flex justify-content-center">
        <div class="cs-carousel cs-controls-inverse">
            <div class="cs-carousel-inner" data-carousel-options='{"mode": "gallery", "nav": false}'>
                <div class="font-size-xs text-light px-2">
                    <strong class="mr-1">Up to 70% Off.</strong>
                    <a href="#" class="text-light">Shop our latest sale offers</a>
                </div>
                <div class="font-size-xs text-light px-2">
                    <strong class="mr-1">Money back guarantee.</strong>
                    <a href="#" class="text-light">Learn more</a>
                </div>
                <div class="font-size-xs text-light px-2">
                    <strong class="mr-1">Friendly customer support.</strong>
                    <a href="#" class="text-light">Contact 24/7</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Breadcrumb -->
<nav class="bg-secondary mb-3" aria-label="breadcrumb">
    <div class="container">
        @Html.Action("Breadcrumb", "Widgets", new { breadcrumbs = new List<BreadcrumbModel> { new BreadcrumbModel { Link = "#", Title = Model.Title } }, homeIncluded = true, headingIncluded = false, area = "" })

    </div>
</nav>


<!-- Post header -->
<section class="border-bottom py-3 pt-md-4 mb-4">
    <div class="container">
        <div class="row justify-content-center pb-2 pb-md-3">
            <div class="col-12">
                <h1 class="mb-4 pb-1">@Model.Title</h1>
                <div class="d-md-flex align-items-center">
                    <ul class="nav nav-muted mb-4 mb-md-0">
                        <li class="nav-item mr-2">
                            @foreach (var item in DataWhereHelper.ExtractListBlogCategory(Model.BlogPostCategoryMappings))
                            {
                                <a class="nav-link d-inline-block mr-2 p-0 font-weight-normal" href="@SlugHelper.BlogCategory(item.Id)" title="@item.Name">@item.Name</a>
                            }
                            <span class="text-border px-1">|</span>
                        </li>
                        <li class="nav-item mr-2">
                            <a href="#" class="nav-link d-inline-block mr-2 p-0 font-weight-normal">
                                <time class="time-ago" datetime="@Model.PublishedTime"></time>
                            </a>
                            <span class="text-border px-1">|</span>
                        </li>
                        <li class="nav-item mr-2">
                            <a href="#comments" class="nav-link d-inline-block mr-2 p-0 font-weight-normal" data-scroll>
                                <i class="cxi-chat mt-n1 mr-1 font-size-lg align-middle"></i>
                                @Model.CommentCount bình luận
                            </a>
                        </li>
                    </ul>
                    <div class="ml-md-auto">
                        <a href="#" class="social-btn sb-solid mr-2 mr-md-0 ml-md-2 mb-2" data-toggle="tooltip" title="Share with Facebook">
                            <i class="cxi-facebook"></i>
                        </a>
                        <a href="#" class="social-btn sb-solid mr-2 mr-md-0 ml-md-2 mb-2" data-toggle="tooltip" title="Share with Instagram">
                            <i class="cxi-instagram"></i>
                        </a>
                        <a href="#" class="social-btn sb-solid mr-2 mr-md-0 ml-md-2 mb-2" data-toggle="tooltip" title="Share with Twitter">
                            <i class="cxi-twitter"></i>
                        </a>
                        <a href="#" class="social-btn sb-solid mr-2 mr-md-0 ml-md-2 mb-2" data-toggle="tooltip" title="Share with LinkedIn">
                            <i class="cxi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Post content -->
<section class="border-bottom">
    <div class="container py-2 pt-md-3">
        <div class="row justify-content-center">
            <div class="col-12">
               
                @Html.Raw(Model.getContent())
                <!-- Tags + Sharing -->
                <div class="d-md-flex align-items-center justify-content-between py-3 py-md-4">
                    <div class="d-flex align-items-center py-2">
                        <span class="text-dark font-weight-bold pr-1 mr-2 mb-2">Tags:</span>
                        <div>
                            @foreach (var itemTag in DataWhereHelper.ExtractListBlogTag(Model.BlogPostTagMappings))
                            {
                                <a class="cs-tag mr-2 mb-2" href="@SlugHelper.BlogTag(itemTag.Id)" title="@itemTag.Name">#@itemTag.Name</a>
                            }
                        </div>
                    </div>
                    <div class="d-flex align-items-center py-2">
                        <span class="text-dark font-weight-bold mr-2 mb-2">Chia sẻ:</span>
                        <a href="@SlugHelper.BlogPost(Model.Id, isShortLink: true)" class="social-btn sb-solid ml-2 mb-2 share-button googleplus-share" data-toggle="tooltip" title="" data-original-title="Facebook">
                            <i class="cxi-facebook"></i>
                        </a>
                        <a href="@SlugHelper.BlogPost(Model.Id, isShortLink: true)" class="social-btn sb-solid ml-2 mb-2" data-toggle="tooltip" title="" data-original-title="Instagram">
                            <i class="cxi-instagram"></i>
                        </a>
                        <a href="@SlugHelper.BlogPost(Model.Id, isShortLink: true)" class="social-btn sb-solid ml-2 mb-2 share-button twitter-share" data-name="@Model.Title" data-toggle="tooltip" title="" data-original-title="Twitter">
                            <i class="cxi-twitter"></i>
                        </a>
                        <a href="@SlugHelper.BlogPost(Model.Id, isShortLink: true)" class="social-btn sb-solid ml-2 mb-2" data-toggle="tooltip" title="" data-original-title="LinkedIn">
                            <i class="cxi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@if (Model.AllowCusomerComments)
{
    <!-- start: box-comment -->
    <div id="comment"></div>
    <!-- end: box-comment -->
}

<!-- Post navigation -->
<section class="container pt-5 pb-6">
    <div class="row justify-content-center">
        <div class="col-12">

            <nav class="d-flex justify-content-between" aria-label="Post navigation">
                @if (listBlogPostSame.Any())
                {
                    var nestBlogPosts = (from x in listBlogPostSame where x.BlogPostId < Model.Id orderby x.BlogPostId descending select x).Take(1).ToList();
                    var nestBlogPostsNext = (from x in listBlogPostSame where x.BlogPostId > Model.Id orderby x.BlogPostId descending select x).Take(1).ToList();
                    if (nestBlogPosts.Any(e => e.BlogPost != null))
                    {
                        var t = nestBlogPosts.Last().BlogPost;
                        <!-- Prev -->
                        <a title="@t.Title" href="@SlugHelper.BlogPost(t.Id)" class="cs-entry-nav cs-image-scale mr-3">
                            <p class="h5 cs-entry-nav-heading pb-sm-2">
                                <i class="cxi-arrow-left mr-2"></i>
                                Bài đăng trước
                            </p>
                            <div class="media">
                                <div class="cs-entry-nav-thumb cs-image-inner rounded d-none d-sm-block">
                                    <img src="@ImageHelper.GetResize(t.Avatar,80,60)" class="mr-1" width="80" alt="@t.Avatar">
                                </div>
                                <div class="media-body pl-sm-3">
                                    <span class="font-size-sm text-muted">
                                        <i class="cxi-clock mr-2"></i>
                                        <time class="time-ago" datetime="@t.PublishedTime"></time>
                                    </span>
                                    <p class="nav-heading font-size-md font-weight-medium mb-0 mt-1 text-capitalize">
                                        @t.Title
                                    </p>
                                </div>
                            </div>
                        </a>

                    }
                    else
                    {
                       

                    }
                    if (nestBlogPostsNext.Any(e => e.BlogPost != null))
                    {
                        var s = @nestBlogPostsNext.Last().BlogPost;
                        <!-- Next -->
                        <a title="@s.Title" href="@SlugHelper.BlogPost(s.Id)" class="cs-entry-nav cs-image-scale ml-3">
                            <p class="h5 cs-entry-nav-heading pb-sm-2 text-right">
                                Bài đăng tiếp theo
                                <i class="cxi-arrow-right ml-2"></i>
                            </p>
                            <div class="media justify-content-end">
                                <div class="media-body text-right pr-sm-3">
                                    <span class="font-size-sm text-muted">
                                        <i class="cxi-clock mr-2"></i>
                                        <time class="time-ago" datetime="@s.PublishedTime"></time>
                                    </span>
                                    <p class="nav-heading font-size-md font-weight-medium mb-0 mt-1 text-capitalize">
                                        @s.Title
                                    </p>
                                </div>
                                <div class="cs-entry-nav-thumb cs-image-inner rounded d-none d-sm-block">
                                    <img src="@ImageHelper.GetResize(s.Avatar,80,60)" width="80" alt="@s.Title" class="ml-1">
                                </div>
                            </div>
                        </a>

                    }
                }
            </nav>
        </div>
    </div>
</section>

@if (listBlogPostRelated.Any())
{
    <!-- Related posts -->
    <section class="bg-secondary pt-5 pt-md-6 pb-5">
        <div class="container pt-3 pt-md-0 pb-md-3">
            <div class="d-flex align-items-center justify-content-between mb-5 pb-sm-2">
                <p class="h2 h1 mb-0">Bài viết liên quan</p>
                <a href="@SlugHelper.BlogCategory(blogCategory.Id)" title="@blogCategory.Name" class="btn btn-outline-primary">Xem tất cả bài viết</a>
            </div>
            <div class="h-news-wrapper news-detail cs-carousel cs-nav-inverse">
                <div class="navigation-cm tns-custom-controls cs-controls-inverse" id="custom-controls-news-detail" tabindex="0">
                    <button class="arrow-btn-prev" type="button" data-controls="prev" tabindex="-1">
                        <i class="cxi-arrow-left"></i>
                    </button>
                    <button class="arrow-btn-next" type="button" data-controls="next" tabindex="-1">
                        <i class="cxi-arrow-right"></i>
                    </button>
                </div>
                <div class="cs-carousel-inner" data-carousel-options='{
              "nav": false,
              "controlsContainer": "#custom-controls-news-detail",
              "responsive": {
                "0": {
                  "items": 1,
                  "gutter": 20
                },
                "480": {
                  "items": 2,
                  "gutter": 24
                },
                "700": {
                  "items": 3,
                  "gutter": 24
                },
                "1100": {
                  "items": 3,
                  "gutter": 30
                }
              }
            }'>

                    @foreach (var post in listBlogPostRelated)
                    {
                        <!-- Post -->
                        <article class="pb-5">
                            <div class="cs-image-scale card box-shadow card-hover border-0 h-100">
                                <a href="#" class="cs-image-inner card-img-top">
                                    <img class="news-img" src="@post.Avatar" alt="@post.Title">
                                </a>
                                <div class="card-body">
                                    <p class="h5 mb-2 pb-1">
                                        <a href="#" class="nav-link">@post.Title</a>
                                    </p>
                                    <ul class="nav nav-muted mb-2 pb-1">
                                        <li class="nav-item mr-2">
                                            @foreach (var item in DataWhereHelper.ExtractListBlogCategory(null, post.Id).Where(e=>e.Id!=blogCategory.Id).Take(1))
                                            {
                                                <a class="nav-link d-inline-block mr-2 p-0 font-weight-normal" href="@SlugHelper.BlogCategory(item.Id)" title="@item.Name">@item.Name</a>
                                            }
                                            <span class="text-border px-1">|</span>
                                        </li>
                                        <li class="nav-item mr-2">
                                            <a href="#" class="nav-link d-inline-block mr-2 p-0 font-size-sm font-weight-normal">
                                                <time class="time-ago" datetime="@post.PublishedTime"></time>
                                            </a>
                                            <span class="text-border px-1">|</span>
                                        </li>
                                        <li class="nav-item mr-2">
                                            <a href="#" class="nav-link d-inline-block mr-2 p-0 font-size-sm font-weight-normal">
                                                <i class="cxi-chat mt-n1 mr-2 font-size-base align-middle"></i>
                                                No comments
                                            </a>
                                        </li>
                                    </ul>
                                    <p class="d-sm-none d-md-block card-text text-overflow">@Html.Raw(post.getExcerpt())</p>
                                </div>
                            </div>
                        </article>
                    }
                </div>
            </div>
        </div>
    </section>
}




@section scripts {
    @Scripts.Render("~/bundles/content/default/blog/blog-post/js")
    <script>
        $(".time-ago").timeago();
        var currentLink = $($(".main-menu a[href='@SlugHelper.BlogCategory(grouped: "news")']"));
        if(currentLink != null) {
            currentLink.parent().addClass('active');
            currentLink.parent().parent().addClass('active');
        }
    </script>
    @if (!listBlogPostRelated.Any())
    {
        <script>

        </script>
    }
    <script src="~/Scripts/knockout-latest.js"></script>
    <script>
    /* embed comment */
        HvComment = {
            BlogPostId: '@Model.Id',
            Take: 10, Skip: 0,
            DatasCollection: [],
            Language: {
                Comment: '@LanguageHelper.Translate("Comments_Text")',
                SendComment: "Gửi bình luận",
                Reply: "Trả lời",
                Like: "Thích",
                DisLike: "Không thích",
                Abuse: "Báo vi phạm",
                Abused: "Đã báo vi phạm",
                Send: '@LanguageHelper.Translate("Send_Text")',
                Cancel: "Hủy",
                ViewMore: "Xem thêm",
                ValidComment: "Nội dung bình luận không được phép trống!",
                ProfileTitle: "Thông tin của bạn",
                FullNameRequired: "Tên đăng nhập yêu cầu!",
                EmailRequired: "Địa chỉ mail yêu cầu!",
                EmailIsValid: "Địa chỉ email không hợp lệ!",
                NotifySuccessfully: "Cảm ơn bạn đã gửi bình luận, bình luận của bạn sẽ được phê duyệt trong thời gian sớm nhất!",
                FullNamePlaceholder: "Họ tên (Hiển thị trên trang)",
                EmailPlaceholder: "Email (Không hiển thị trên trang)",
                Submit: "Hoàn tất",
                Earse: "Xóa"
            }
        };
        if (AppConfigs.isAuthenticated === "True") {
            HvComment.Credits = {
                FullName: '@User.Identity.Name', Email: '@Session["Email"]'
            };
        }
        HvComment.Start = function () {
            HVGetFiles.Htm("/gadgets/comment/index.htm", function (innerHtml) {
                $("#comment").html(innerHtml);

            } );
        };
        HvComment.Start();
    </script>
}